<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <p>About This Project</p>
        </div>

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>This is a full-stack storefront application with CRUD functionality.</h3>
                <p class="font-italic">
                    This project was made utilizing ASP.Net MVC and Entity Framework.
                    Some key features are listed below:
                </p>
                <ul>
                    <li><i class="icofont-check-circled"></i> A working shopping cart</li>
                    <li><i class="icofont-check-circled"></i> Ability to upload photos for the beers</li>
                    <li><i class="icofont-check-circled"></i> A functional contact page</li>
                    <li><i class="icofont-check-circled"></i> AJAX CRUD functionality in the Containers section</li>
                    <li><i class="icofont-check-circled"></i> Security utilizing Identity Samples</li>
                    <li><i class="icofont-check-circled"></i> Implemented soft-delete functionality for beers and brewers</li> 
                    <li><i class="icofont-check-circled"></i> Made a table to collect custom user details and used it to display a customized user greeting</li>
                    <li><i class="icofont-check-circled"></i> A partial view displaying beers with the IsFeatured property set to true</li>
                    <li><i class="icofont-check-circled"></i> Implemented datatables.net on multiple tables as well as server-side paging and search on the brewers table</li> 
                    <li><i class="icofont-check-circled"></i> Plugin calendar under Events to let customers know about delicious beer events</li>
                </ul>
                <p>
                    I enjoyed building this project and I would love to show you some of my other work!  Please click below to check out my personal site.
                </p>
                <a href="http://kevinroyer.net" target="_blank" class="learn-more-btn">Website of Kevin Royer</a>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
    <div class="container">

        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">352</span>
                <p>Beers</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">64</span>
                <p>Styles</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">42</span>
                <p>Events</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">1 </span>
                <p>Amazing Store!</p>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->
